html, body, ul, li {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section {
	position: relative; 
	padding: 4% 0;
}

.section-header {
	margin-bottom: 4%;
}

.contain {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	
	&:after {
	    content: "";
		display: table;
		clear: both;
	}
}

[class*='col-'] {
	position: relative;
	margin-bottom: 5%;
	@media screen and (min-width: 768px) {
		float: left;
		margin-bottom: 0;
		margin-right: 8%;
		
		&.right { 
			float: right;
			margin-right: 0;
		}
		
		&.col-1-2 { width: 46%; }
		&.col-1-3 { width: 28%; }
		&.col-2-3 { width: 64%; }
		&.col-1-4 { width: 19%; }
		&.col-3-4 { width: 73%; }
		&.col-1-5 { width: 13.6%; }
		&.col-2-5 { width: 35.2%; }
		&.col-3-5 { width: 56.8%; }
	}	
}